body {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 17px;
}

.header {
    background: linear-gradient(180deg, #FFFFFF 0%, #EEF1FD 100%);
}

.container {
    width: 1140px;
    margin: 0 auto;
}
 
.wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper_header-wrapper {
    align-items: center;
}

.top-nav__logo {
    width: 236px;
}

.top-nav__info {
    align-items: center;
}

.top-nav__phone {
    text-decoration: none;
    color: #243976;
    font-weight: 400;
    font-size: 20px;
    margin-right: 29px;
}

.top-nav__learn {
    text-decoration: none;
    padding: 23px 31px;
    background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
    box-shadow: 0px 6px 21px rgba(104, 130, 245, 0.67);
    border-radius: 90px;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.125em;
 
}

.menu-top {
    display: flex;
    justify-content: space-between;
}

.menu__border {
    border-top: 2px solid #E4E5EC;
    margin-top: 23px;
}

.menu-top_left-menu {
    display: flex;
}

.menu__items {
    list-style-type: none;
}

.menu__link {
    text-decoration: none;
}

.menu__img-login:before {
    content: url("../img/log-in.png");
    margin-right: 10px;  
}

.menu__items_autorisation {
    display: flex;
}

.menu__items {
    margin-right: 30px;
}

.page {
    margin-top: 45px;
    background-image: url('../img/elt.png');
    width: 100%;
    height: auto;
    padding-bottom: 68px;
}


.page-links {
    width: 420px;
    
}

.page-links__link {
    width: 130px;
    text-decoration: none;
    color: #fff;
    padding: 8px 30px;
    background: linear-gradient(26.5deg, #4271DF 16.72%, #789CF1 95.45%);
border-radius: 15px;
font-size: 12px;
    font-weight: 700;
    line-height: 118.2%;
}

.page-links__pink_margin-left {
    margin-left: 15px;
}

.page-offers__title {
    color: #243976;
    font-size: 84px;
    width: 745px;
    margin-top: 25px;
    margin-bottom: 0;
}

.page-offers__title-span {
    font-size: 84px;
    margin-top: 25px;   
    color: rgba(73, 179, 247, 1);
    font-weight: 400;
}

.page-offers__text {
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
    color: #243976;
    width: 450px;
    padding: 0;
    margin-top: 40px;
}

.text_bold {
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 37px;
}

.social {
    margin-top: 30px;
    color: #737373;
    font-size: 17px;
}

.wrapper-social {
    display: flex;
    align-items: center;
}

.social-left-margin {
    margin-left: 20px;
}

.offers-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.offers-img {
    width: 673px;
    height: 400px;
}

.offers-main__offer {
    width: 173px;
    text-align: center;
}

.offers-main__image-offer {
    width: 71px;
}

.offers-main__title-offer {
    line-height: 150%;
    font-weight: 500;
}

.title-main{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 50px;
    color: #243976;
}

.title-main_first-mod {
    margin: 60px 0;
}

.frame-price {
    margin-top: 24px;
}

.frame-price__text {
    align-items: center;
    text-align: center;
}

/* Hovers */

.page-links__link:hover {
    padding: 13px 31px;
    box-shadow: drop-shadow(0px 6px 21px rgba(104, 130, 245, 0.67));
    background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
    border-radius: 25px;
    transition: all 0.1s ease;
}